@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #27272a;
}


.container_login {
  background-image: url("./assets/bgLogin.jpeg");
  background-position: center;
  background-size: cover;
}

.active {
  color: #fed7aa;

}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

/* Estilos adicionales para Firefox */

.quill-editor {
  border: none !important;
  border-radius: 0;
  box-shadow: none;
}

.ql-toolbar {
  background-color: #fed7aa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.ql-editor {
  background-color: white;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

.rbc-month-view{
  border-radius: 0.5%!important;
  border: 1px solid #fed7aa !important
}

.rbc-btn-group button{
  background-color: #0a0a0a !important;
  border: 1px solid #fed7aa !important;
  color:#fed7aa !important
}

.rbc-active{
  background-color: #663e10;

}

.rbc-off-range-bg{
  background-color: #52525b !important;
}
.rbc-today{
  background-color: #0a0a0a!important;
}

.rbc-event{
  background-color: #fed7aa!important;
  color:#0a0a0a !important;
  padding: 5px 10px !important;
}

.rbc-toolbar-label{
  text-align: end !important;
  font-size: 20px;
}
