@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #27272a;
}

.zoom {
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.2);
  /* Escala la imagen al 120% del tamaño original */
}


.container_login {
  background-image: url("./assets/bgLogin.jpeg");
  background-position: center;
  background-size: cover;
}

.active {
  color: #fed7aa;

}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

/* Estilos adicionales para Firefox */

.quill-editor {
  border: none !important;
  border-radius: 0;
  box-shadow: none;
}

.ql-toolbar {
  background-color: #fed7aa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.ql-editor {
  background-color: white;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

.rbc-month-view {
  border-radius: 0.5% !important;
  border: none !important
}

.rbc-btn-group button {
  background-color: #fed7aa !important;
  border: none !important;
  color: #0a0a0a !important
}

.rbc-off-range-bg {
  background-color: #52525b !important;
}

.rbc-today {
  background-color: #0a0a0a !important;
}

.rbc-event {
  background-color: #fed7aa !important;
  color: #0a0a0a !important;
  padding: 4px 7px !important;
}

.rbc-toolbar-label {
  text-align: center !important;
  font-size: 20px;
  margin: 20px 0;
  color: #e4e4e7 !important
}

.rbc-day-bg {
  border: none !important;
}

.rbc-month-header {
  color: #0a0a0a !important;
  background-color: #e4e4e7;

}

.rbc-header {
  padding: 12px 0 !important;
  border: none !important
}

.rbc-month-row {
  height: 20px;
}

.rbc-show-more {
  color: #fed7aa !important;
  background-color: transparent !important;
}

.rbc-time-content {
  display: none !important;
  border: none;

}

.rbc-time-view {
  border: none !important
}

.rbc-time-header-content {
  border: none !important;
}

.rbc-label .rbc-time-header-gutter {
  margin: 0;
}

.rbc-event-continues-after {
  border-radius: 5px !important;
}

.clip {
  /* background: linear-gradient(0deg, #27272a 5%, #0c0c0c57 100%); */
  clip-path: polygon(100% 100%, 0% 100%, 0.00% 85.22%, 2.00% 83.11%, 4.00% 80.55%, 6.00% 77.60%, 8.00% 74.34%, 10.00% 70.84%, 12.00% 67.17%, 14.00% 63.43%, 16.00% 59.69%, 18.00% 56.03%, 20.00% 52.55%, 22.00% 49.32%, 24.00% 46.42%, 26.00% 43.91%, 28.00% 41.84%, 30.00% 40.27%, 32.00% 39.23%, 34.00% 38.75%, 36.00% 38.83%, 38.00% 39.47%, 40.00% 40.66%, 42.00% 42.37%, 44.00% 44.56%, 46.00% 47.19%, 48.00% 50.19%, 50.00% 53.50%, 52.00% 57.03%, 54.00% 60.72%, 56.00% 64.47%, 58.00% 68.20%, 60.00% 71.83%, 62.00% 75.28%, 64.00% 78.46%, 66.00% 81.30%, 68.00% 83.74%, 70.00% 85.73%, 72.00% 87.21%, 74.00% 88.16%, 76.00% 88.55%, 78.00% 88.38%, 80.00% 87.64%, 82.00% 86.37%, 84.00% 84.57%, 86.00% 82.30%, 88.00% 79.61%, 90.00% 76.55%, 92.00% 73.20%, 94.00% 69.63%, 96.00% 65.93%, 98.00% 62.18%, 100.00% 58.45%);
}

.paralax {
  background-image: url("./assets/Lindy_Hop.jpeg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}